RewriteEngine On # Turn on the rewriting engine
RewriteRule ^employees/?$ employees.php [NC,L]
RewriteRule ^employees/([0-9]+)/?$ employees.php?id=$1 [NC,L]
RewriteRule ^auth/?$ auth.php [NC,L]
RewriteRule ^auth/([A-Za-z0-9=]+)/?$ auth.php?token=$1 [NC,L]
